@tailwind base;
@tailwind components;
@tailwind utilities;

/* Kalau kamu mau pakai font custom, tulis di luar komentar dan pastikan tertutup benar */
:root {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif;
}